@import url(./_active/element__info-like_active.css);

.element__info-like {
	background-image: url(../../../images/like.svg);
	border: none;
	background-repeat: none;
	background-position: center;
	background-color: white;
	background-size: auto;
	width: 20.76px;
	height: 19px;
	align-self: center;
}

.element__info-like:hover {
	opacity: 50%;
}