.popup__close {
	z-index: 3;
	position: relative;
	left: 100%;
	bottom: 350px;
	background-image: url(../../../images/close.svg);
	width: 41px;
	height: 41px;
	border: none;
	background-color: transparent;
	background-size: auto;
	background-position: center;
}

@media (max-width: 450px) {
	.popup__close {
		left: 90%;
		bottom: 360px;
	}
}