.element__delete {
	position: absolute;
	background-image: url(../../../images/trash.svg);
	border: none;
	background-color: transparent;
	background-size: auto;
	background-position: center;
	width: 18px;
	height: 19.3px;
	top: 18px;
	left: 88.6%;
	cursor: pointer;
}

.element__delete:hover {
	opacity: .5;
}