.profile__info-name {
	font-weight: 500;
	font-size: 42px;
	line-height: 56px;
	margin: 0;
	padding-bottom: 16px;
	max-width: 400px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	max-height: 50px;
}

@media (max-width: 850px) {
	.profile__info-name {
		font-size: 30px;
	}
}

@media (max-width: 450px) {
	.profile__info-name {
		font-size: 22px;
		line-height: 56px;
		padding: 0;
	}
}