.profile__info {
	margin: 21.75px 0 0 30px;
	color: white;
	display: flex;
	flex-direction: column;
	max-width: 428px;
}

@media (max-width: 450px) {
	.profile__info {
		max-width: 201px;
		margin: 14px auto 36px;
		text-align: center;
	}
}