.btn-edit {
	border: 1px solid #fff;
	box-sizing: border-box;
	min-width: 23px;
	height: 23px;
	padding: 0;
	margin: 40.75px 0 0 24px;
	background-image: url(../../../images/edit.svg);
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
}

.btn-edit:hover{
	opacity: .5;
}

@media (max-width: 450px) {
	.btn-edit {
		width: 18px;
		height: 18px;
		position: absolute;
		margin: 0;
		top: 288px;
		right: 47px;
	}
}